body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(to bottom, #6666ff 0%, #99ccff 93%);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.weather-forecast {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

header {
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.search-form input[type="search"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 60%;
  width: 100%;
  max-width: 300px;
}

.search-form input[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #6666ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  max-width: 100px;
}

.search-form input[type="submit"]:hover {
  background-color: #99ccff;
}

#localization h1 {
  color: white;
  display: inline;
  text-decoration: underline;
  font-weight: bolder;
}
.weather-app-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: linear-gradient(to bottom, #6666ff 0%, #99ccff 93%);
  padding-bottom: 18px;
  padding-top: 5px;
  border-radius: 20px;
  width: 100%;
  transition: all 0.3s ease;
}

.weather-app-data :hover {
  transform: scale(1.005);
  opacity: 0.8;
}

.weather-temperature-day {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

#Icon {
  font-size: 50px;
}

#value-temp {
  font-size: 40px;
  font-weight: bold;
}
#temp-sensation {
  font-weight: bold;
}

.info {
  display: flex;
  justify-content: space-around;
  text-align: center;
  gap: 10px;
  flex-wrap: wrap;
}

.info div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info h2 {
  font-size: 25px;
}

.info p {
  font-size: 15px;
  margin: 0;
}

.weather-forecast-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.weather-temperature-forecast {
  margin: 0 10px;
  text-align: center;
}
/* Media Queries: I adjusted the layout for smaller screens, changing the behavior of the elements so that they stack instead of being side by side.*/

@media screen and (max-width: 768px) {
  .weather-forecast-container {
    justify-content: center;
  }
}

.weather-forecast-day {
  width: 80px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 480px) {
  #value-temp {
    font-size: 30px;
  }
}

.weather-forecast-date {
  font-weight: bold;
  font-size: 18px;
}

.weather-forecast-temperatures {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.weather-forecast-temperature strong {
  color: #0288d1;
}

.weather-forecast-icon {
  width: 80px;
  text-align: center;
}
footer {
  margin-top: 20px;
  font-size: 14px;
}

footer p {
  margin: 0;
}

footer a {
  color: #0288d1;
  text-decoration: none;
}
